* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;        
    font-family: sans-serif;
}

.main {
    position: relative;
    min-height: 100vh;
    background: radial-gradient(#f0483a, #d10a20);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px 100px;
    header {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
        .logo {
            max-width: 90px;
        }
    }
}